{
  "src/**/*.css": ["prettier --write 'src/**/*.{ts,tsx,js,jsx,css}'"],
  "src/**/*.{ts,tsx,js,jsx}": [
    "prettier --write 'src/**/*.{ts,tsx,js,jsx,css}'",
    "eslint src --ext ts,js,tsx,jsx --fix"
  ]
}
